.first-block {
    background-color:rgb(0, 0, 0);
    color: gray;
}

.active-route {
    color: white;
}

.action {
    cursor: pointer;
}

.text-menber {
    text-align: center;
}

.display-list {
    text-align: center;
}

